<div id="email-<%=email.id%>-body-div" class="selected-email-div">

  <p id="email-<%=email.id%>-body"><%= email.body %></p>

  <br/>

  <div style="margin-top: 30px; display: flex;">
    <%= button_to('Mark as "Unread"', email_path(@email), id: "set-unread-btn", method: "put", remote: true) %>
    <%= button_to('Mark as "Read"', email_path(@email), id: "set-read-btn", class: "hidden", method: "put", remote: true) %>
    
    <%= button_to('Delete Email', email_path(@email), method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, style: 'background-color: lightcoral;') %>
  </div>

</div> 