<div id="project-header">
  <h1>Gmail-like Project:</h1>
  <h3>my fake Inbox using AJAX</h3>

  <br>

  <div>
    <%= button_to 'New Email', emails_path, remote: true, class: "btn btn-danger", id: "new-email-btn" %>
    <p id="notice"><%= notice %></p>
  </div>
</div>


<br>


<!-- CONTAINER PRINCIPAL DES EMAILS -->
<section id="mailbox-main">

  <!-- TABLEAU DE GAUCHE -->
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr class="emails-tr">
        <th class="text-center" style="line-height: 30px;">Emails' List:</th>
      </tr>
    </thead>
    <tbody id="emails-list">
      <% @emails.each do |email| %>
        <tr>
          <td><%= email.object %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- PARTIE DROITE = "Email Sélectionné" -->
  <div id="selected-email-container">
    <div id="selected-email-header-div">
      <p id="selected-email-header">Selected Email:</p>
    </div>
    <div id="selected-email-block">
      <p>treeeees treeeeeeeeeeeeeeeeeeeeeeeeees loooooooooooooooooooooong test</p>
    </div>
  </div>

</section> 



<br>
<br>
<br>
<br>
<br>



<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Object</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.object %></td>
        <td><%= email.body %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>